.btnBox {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

/* .btnBox {
  margin: 0 10px;
} */

.btn {
  background-color: blueviolet;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  /* text-transform: capitalize; */
}
.btn:hover,
.btn:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.342);
  background-color: plum;
}
